/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Dark and Light Themes */

:root {
  --text: #000;
  --background: #fff;
  --primary: #ff4336e9;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Outfit", sans-serif;
}

/*
@media (prefers-color-scheme: dark){
    :root{
        --text: #fff;
        --background: #303030;
		--primary: #ff4336e9;
    }
}
*/


input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

main {
  padding: 0 10vw;
}

body {
  background-image: url(./assets/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  background-color: #f6f8fc;
}

header {
  width: 100%;
  .search-bar {
    box-shadow: #ededed 0 10px 10px;
    background-color: white;
    padding: 15px;
    margin: 30px 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    input {
      width: 90%;
      font-size: 18px;
    }
    button {
      width: 40px;
      height: 40px;
      background-color: #ff5350;
      color: white;
      border-radius: 10px;
      box-shadow: #ff535088 5px 5px 15px;
    }
  }
}

.pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &-card {
    
    border: 2px solid white;
    box-shadow: #ededed 0 10px 10px;
    background-color: white;
	margin: 10px;
	margin-top: 60px;
	border-radius: 20px;
	padding: 15px;
	padding-top:50px;
	position: relative;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 150px;
	cursor: pointer;

	&:hover{
		background-color: rgba(0, 0, 0, 0.062);
		border: 2px solid #ff53503d;
	}

	img{
		position: absolute;
		width: 96px;
		height: 96px;
		top: -44px;
		object-fit: scale-down;
		image-rendering: pixelated;
	}

	h3{
		text-transform: capitalize;
		font-size: 18px;
		font-weight: 600;
	}

	h4{
		color: #8F9396;
		font-weight: bold;
	}
  }
}
